mixin text-input-block({name = 'control'})
  -
    const isControl = name === 'control'
    const isStart = name === 'values'
    const isRange = name === 'range'
    const className = 'text-input-block'
    const blockClassName = isControl ? `${className} ${className}_with-control js-${className}` : `${className} js-${className}`
  div(class = blockClassName, data-configuration-name = name)
    h3.text-input-block__title #{name}
    input(type = 'text', class = `${className}__input  js-${className}__input`, name = name, data-index = 0)
    if (isRange || isStart || isControl)
      input(type = 'text', class = `${className}__input  js-${className}__input`, name = name, data-index = 1)
