mixin text-input-block({name = 'control'})
  -
    const isControl = name === 'control'
    const isStart = name === 'start'
    const isRange = name === 'range'
    const className = 'text-input-block'
    const blockClassName = isControl ? `${className} ${className}_isControl js-${className}` : `${className} js-${className}`
  div(class = blockClassName, data-configuration-name = name)
    h3.text-input-block__title #{name}
    input(type = 'text', class = `${className}__input ${className}__input_normal  js-${className}__input`, name = name, data-index = 0)
    if (isRange || isStart || isControl)
      input(type = 'text', class = `${className}__input ${className}__input_normal  js-${className}__input`, name = name, data-index = 1)
      if (isControl)
        label.text-input-block__label
          input(type='checkbox', class = `${className}__checkbox js-${className}__checkbox`, name = 'tooltip')
          span.text-input-block__label-text show/hidden tooltip(s)
